<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_HvMJcObYEeq04t9TcbdByQ" specification="&#xA;// Use the event driven execution model.&#xA;// Runs a run-to-completion step&#xA;// each time an event is raised.&#xA;// Switch to cycle based behavior&#xA;@CycleBased(500)&#xA;// instead.&#xA;&#xA;@ChildFirstExecution&#xA;// In composite states, execute&#xA;// child states first.&#xA;// @ParentFirstExecution does the opposite.&#xA;&#xA;interface:&#xA;// Define events&#xA;// and variables here. &#xA;// Use CTRL + Space for content assist.&#xA;&#xA;internal:&#xA;event IRQ1&#xA;event IRQ2&#xA;event return_interrupt1&#xA;event return_interrupt2&#xA;var curr_active : integer = 0&#xA;&#xA;&#xA;interface nvic:&#xA;var EN : boolean = false&#xA;var EN1 : boolean = false&#xA;var EN2: boolean = false&#xA;var PEND1: boolean = false&#xA;var PEND2: boolean = false&#xA;var ACTIVE : boolean = false&#xA;var PRI : integer = 0" name="NVIC_dual">
    <regions xmi:id="_HvUFQ-bYEeq04t9TcbdByQ" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_Hvd2Q-bYEeq04t9TcbdByQ">
        <outgoingTransitions xmi:id="_OGWDUObZEeq04t9TcbdByQ" target="_LQd30ObYEeq04t9TcbdByQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_LQd30ObYEeq04t9TcbdByQ" specification="IRQ1 / nvic.PEND1 = true&#xD;&#xA;IRQ2 / nvic.PEND2 = true&#xD;&#xA;return_interrupt1 / nvic.PEND1 = false&#xD;&#xA;return_interrupt2 / nvic.PEND2 = false" name="Core + NVIC" incomingTransitions="_OGWDUObZEeq04t9TcbdByQ">
        <regions xmi:id="_LQfF8ebYEeq04t9TcbdByQ" name="CPU">
          <vertices xsi:type="sgraph:State" xmi:id="_cBPGXObYEeq04t9TcbdByQ" specification="entry / curr_active = 0&#xA;" name="Inactive" incomingTransitions="_kch3oObYEeq04t9TcbdByQ _P6sKUOiQEeqJpbKOZUBqKA">
            <outgoingTransitions xmi:id="_bdlR0OioEeqhOvudpGcxgw" specification="[(nvic.PEND1 || nvic.PEND2)]" target="_Z_wB4OioEeqhOvudpGcxgw"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_cBPtYObYEeq04t9TcbdByQ" specification="" name="PUSH" incomingTransitions="_iaO64OioEeqhOvudpGcxgw">
            <outgoingTransitions xmi:id="_1vKnoObZEeq04t9TcbdByQ" specification="[nvic.PEND1]" target="_cBPtY-bYEeq04t9TcbdByQ"/>
            <outgoingTransitions xmi:id="_y7NDkOiMEeqJpbKOZUBqKA" specification="[(nvic.PEND2) &amp;&amp; (!nvic.PEND1)]" target="_cBPtZubYEeq04t9TcbdByQ"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_cBPtY-bYEeq04t9TcbdByQ" specification="entry / curr_active = 1&#xD;&#xA;" name="Active I1" incomingTransitions="_1vKnoObZEeq04t9TcbdByQ _wf6QYOiNEeqJpbKOZUBqKA">
            <outgoingTransitions xmi:id="_Xlk5wOiNEeqJpbKOZUBqKA" specification="[(nvic.PEND2) &amp;&amp; (!nvic.PEND1)]" target="_QQnT0OiMEeqJpbKOZUBqKA"/>
            <outgoingTransitions xmi:id="_42yJ0OiPEeqJpbKOZUBqKA" specification="[((nvic.PEND1 || nvic.PEND2) == false)]" target="_yrAkEOiPEeqJpbKOZUBqKA"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_cBPtZubYEeq04t9TcbdByQ" specification="entry / curr_active = 2&#xA;" name="Active I2" incomingTransitions="_y7NDkOiMEeqJpbKOZUBqKA _g-GvYOiNEeqJpbKOZUBqKA">
            <outgoingTransitions xmi:id="_o0sRIOiNEeqJpbKOZUBqKA" specification="[nvic.PEND1]" target="_m_3dgOiNEeqJpbKOZUBqKA"/>
            <outgoingTransitions xmi:id="_0F7p8OiPEeqJpbKOZUBqKA" specification="[((nvic.PEND1 || nvic.PEND2) == false)]" target="_yrAkEOiPEeqJpbKOZUBqKA"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_jervUObYEeq04t9TcbdByQ">
            <outgoingTransitions xmi:id="_kch3oObYEeq04t9TcbdByQ" specification="" target="_cBPGXObYEeq04t9TcbdByQ"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_QQnT0OiMEeqJpbKOZUBqKA" name="TC 1_2" incomingTransitions="_Xlk5wOiNEeqJpbKOZUBqKA">
            <outgoingTransitions xmi:id="_g-GvYOiNEeqJpbKOZUBqKA" specification="after 1s" target="_cBPtZubYEeq04t9TcbdByQ"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_m_3dgOiNEeqJpbKOZUBqKA" name="TC 2 1" incomingTransitions="_o0sRIOiNEeqJpbKOZUBqKA">
            <outgoingTransitions xmi:id="_wf6QYOiNEeqJpbKOZUBqKA" specification="after 1s" target="_cBPtY-bYEeq04t9TcbdByQ"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_yrAkEOiPEeqJpbKOZUBqKA" name="POP" incomingTransitions="_0F7p8OiPEeqJpbKOZUBqKA _42yJ0OiPEeqJpbKOZUBqKA">
            <outgoingTransitions xmi:id="_P6sKUOiQEeqJpbKOZUBqKA" specification="after 1s" target="_cBPGXObYEeq04t9TcbdByQ"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_Z_wB4OioEeqhOvudpGcxgw" name="Pendente" incomingTransitions="_bdlR0OioEeqhOvudpGcxgw">
            <outgoingTransitions xmi:id="_iaO64OioEeqhOvudpGcxgw" specification="[nvic.EN]&#xA;" target="_cBPtYObYEeq04t9TcbdByQ"/>
          </vertices>
        </regions>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_HvUFQObYEeq04t9TcbdByQ" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_HvMJcObYEeq04t9TcbdByQ" measurementUnit="Pixel">
    <children xmi:id="_Hvay8ObYEeq04t9TcbdByQ" type="Region" element="_HvUFQ-bYEeq04t9TcbdByQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_HvdPMObYEeq04t9TcbdByQ" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_HvdPMebYEeq04t9TcbdByQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_HvdPMubYEeq04t9TcbdByQ"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_Hvd2QObYEeq04t9TcbdByQ" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_HvedUObYEeq04t9TcbdByQ" type="Entry" element="_Hvd2Q-bYEeq04t9TcbdByQ">
          <children xmi:id="_HvedVObYEeq04t9TcbdByQ" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_HvfEYObYEeq04t9TcbdByQ" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_HvfEYebYEeq04t9TcbdByQ"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_HvfEYubYEeq04t9TcbdByQ"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_HvedVebYEeq04t9TcbdByQ" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_HvedVubYEeq04t9TcbdByQ"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_HvedUebYEeq04t9TcbdByQ" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_HvedUubYEeq04t9TcbdByQ" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_HvfEY-bYEeq04t9TcbdByQ" x="102" y="20" width="15" height="15"/>
        </children>
        <children xmi:id="_LQgUEObYEeq04t9TcbdByQ" type="State" element="_LQd30ObYEeq04t9TcbdByQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_LQg7IObYEeq04t9TcbdByQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_LQg7IebYEeq04t9TcbdByQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_LQg7IubYEeq04t9TcbdByQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_LQg7I-bYEeq04t9TcbdByQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_LQg7JObYEeq04t9TcbdByQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_LQg7JebYEeq04t9TcbdByQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_LQg7JubYEeq04t9TcbdByQ" type="StateFigureCompartment">
            <children xmi:id="_s-RhYOioEeqhOvudpGcxgw" type="Region" element="_LQfF8ebYEeq04t9TcbdByQ">
              <children xsi:type="notation:DecorationNode" xmi:id="_s-RhYeioEeqhOvudpGcxgw" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_s-RhYuioEeqhOvudpGcxgw"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_s-RhY-ioEeqhOvudpGcxgw"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_s-RhZOioEeqhOvudpGcxgw" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_s-RhZeioEeqhOvudpGcxgw" type="State" element="_cBPGXObYEeq04t9TcbdByQ">
                  <children xsi:type="notation:DecorationNode" xmi:id="_s-RhZuioEeqhOvudpGcxgw" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_s-RhZ-ioEeqhOvudpGcxgw"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_s-RhaOioEeqhOvudpGcxgw"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_s-RhaeioEeqhOvudpGcxgw" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_s-RhauioEeqhOvudpGcxgw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_s-Rha-ioEeqhOvudpGcxgw"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_s-RhbOioEeqhOvudpGcxgw" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_s-RhbeioEeqhOvudpGcxgw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_s-RhbuioEeqhOvudpGcxgw"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_s-Rhb-ioEeqhOvudpGcxgw" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_s-RhcOioEeqhOvudpGcxgw" x="2" y="77"/>
                </children>
                <children xmi:id="_s-RhceioEeqhOvudpGcxgw" type="State" element="_cBPtYObYEeq04t9TcbdByQ">
                  <children xsi:type="notation:DecorationNode" xmi:id="_s-RhcuioEeqhOvudpGcxgw" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_s-Rhc-ioEeqhOvudpGcxgw"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_s-RhdOioEeqhOvudpGcxgw"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_s-RhdeioEeqhOvudpGcxgw" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_s-RhduioEeqhOvudpGcxgw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_s-Rhd-ioEeqhOvudpGcxgw"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_s-RheOioEeqhOvudpGcxgw" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_s-RheeioEeqhOvudpGcxgw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_s-RheuioEeqhOvudpGcxgw"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_s-Rhe-ioEeqhOvudpGcxgw" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_s-RhfOioEeqhOvudpGcxgw" x="332" y="77" width="161" height="74"/>
                </children>
                <children xmi:id="_s-RhfeioEeqhOvudpGcxgw" type="State" element="_cBPtY-bYEeq04t9TcbdByQ">
                  <children xsi:type="notation:DecorationNode" xmi:id="_s-RhfuioEeqhOvudpGcxgw" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_s-Rhf-ioEeqhOvudpGcxgw"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_s-RhgOioEeqhOvudpGcxgw"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_s-RhgeioEeqhOvudpGcxgw" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_s-RhguioEeqhOvudpGcxgw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_s-Rhg-ioEeqhOvudpGcxgw"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_s-RhhOioEeqhOvudpGcxgw" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_s-RhheioEeqhOvudpGcxgw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_s-RhhuioEeqhOvudpGcxgw"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_s-Rhh-ioEeqhOvudpGcxgw" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_s-RhiOioEeqhOvudpGcxgw" x="608" y="83"/>
                </children>
                <children xmi:id="_s-RhieioEeqhOvudpGcxgw" type="State" element="_cBPtZubYEeq04t9TcbdByQ">
                  <children xsi:type="notation:DecorationNode" xmi:id="_s-RhiuioEeqhOvudpGcxgw" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_s-Rhi-ioEeqhOvudpGcxgw"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_s-RhjOioEeqhOvudpGcxgw"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_s-RhjeioEeqhOvudpGcxgw" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_s-RhjuioEeqhOvudpGcxgw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_s-Rhj-ioEeqhOvudpGcxgw"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_s-RhkOioEeqhOvudpGcxgw" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_s-RhkeioEeqhOvudpGcxgw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_s-RhkuioEeqhOvudpGcxgw"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_s-SIcOioEeqhOvudpGcxgw" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_s-SIceioEeqhOvudpGcxgw" x="610" y="264"/>
                </children>
                <children xmi:id="_s-SIcuioEeqhOvudpGcxgw" type="Entry" element="_jervUObYEeq04t9TcbdByQ">
                  <children xmi:id="_s-SIc-ioEeqhOvudpGcxgw" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_s-SIdOioEeqhOvudpGcxgw" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_s-SIdeioEeqhOvudpGcxgw"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_s-SIduioEeqhOvudpGcxgw"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_s-SId-ioEeqhOvudpGcxgw" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_s-SIeOioEeqhOvudpGcxgw"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_s-SIeeioEeqhOvudpGcxgw" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_s-SIeuioEeqhOvudpGcxgw" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_s-SIe-ioEeqhOvudpGcxgw" x="38" y="-2"/>
                </children>
                <children xmi:id="_s-SIfOioEeqhOvudpGcxgw" type="State" element="_QQnT0OiMEeqJpbKOZUBqKA">
                  <children xsi:type="notation:DecorationNode" xmi:id="_s-SIfeioEeqhOvudpGcxgw" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_s-SIfuioEeqhOvudpGcxgw"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_s-SIf-ioEeqhOvudpGcxgw"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_s-SIgOioEeqhOvudpGcxgw" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_s-SIgeioEeqhOvudpGcxgw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_s-SIguioEeqhOvudpGcxgw"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_s-SIg-ioEeqhOvudpGcxgw" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_s-SIhOioEeqhOvudpGcxgw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_s-SIheioEeqhOvudpGcxgw"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_s-SIhuioEeqhOvudpGcxgw" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_s-SIh-ioEeqhOvudpGcxgw" x="657" y="174" width="73" height="55"/>
                </children>
                <children xmi:id="_s-SIiOioEeqhOvudpGcxgw" type="State" element="_m_3dgOiNEeqJpbKOZUBqKA">
                  <children xsi:type="notation:DecorationNode" xmi:id="_s-SIieioEeqhOvudpGcxgw" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_s-SIiuioEeqhOvudpGcxgw"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_s-SIi-ioEeqhOvudpGcxgw"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_s-SIjOioEeqhOvudpGcxgw" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_s-SIjeioEeqhOvudpGcxgw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_s-SIjuioEeqhOvudpGcxgw"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_s-SIj-ioEeqhOvudpGcxgw" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_s-SIkOioEeqhOvudpGcxgw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_s-SIkeioEeqhOvudpGcxgw"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_s-SIkuioEeqhOvudpGcxgw" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_s-SIk-ioEeqhOvudpGcxgw" x="920" y="175"/>
                </children>
                <children xmi:id="_s-SIlOioEeqhOvudpGcxgw" type="State" element="_yrAkEOiPEeqJpbKOZUBqKA">
                  <children xsi:type="notation:DecorationNode" xmi:id="_s-SIleioEeqhOvudpGcxgw" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_s-SIluioEeqhOvudpGcxgw"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_s-SIl-ioEeqhOvudpGcxgw"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_s-SImOioEeqhOvudpGcxgw" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_s-SImeioEeqhOvudpGcxgw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_s-SImuioEeqhOvudpGcxgw"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_s-SIm-ioEeqhOvudpGcxgw" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_s-SInOioEeqhOvudpGcxgw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_s-SIneioEeqhOvudpGcxgw"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_s-SInuioEeqhOvudpGcxgw" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_s-SIn-ioEeqhOvudpGcxgw" x="350" y="360"/>
                </children>
                <children xmi:id="_s-SIoOioEeqhOvudpGcxgw" type="State" element="_Z_wB4OioEeqhOvudpGcxgw">
                  <children xsi:type="notation:DecorationNode" xmi:id="_s-SIoeioEeqhOvudpGcxgw" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_s-SIouioEeqhOvudpGcxgw"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_s-SIo-ioEeqhOvudpGcxgw"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_s-SIpOioEeqhOvudpGcxgw" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_s-SIpeioEeqhOvudpGcxgw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_s-SIpuioEeqhOvudpGcxgw"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_s-SIp-ioEeqhOvudpGcxgw" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_s-SIqOioEeqhOvudpGcxgw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_s-SIqeioEeqhOvudpGcxgw"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_s-SIquioEeqhOvudpGcxgw" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_s-SIq-ioEeqhOvudpGcxgw" x="206" y="77"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_s-SIrOioEeqhOvudpGcxgw"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_s-SIreioEeqhOvudpGcxgw" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_s-SIruioEeqhOvudpGcxgw"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_LQgUEebYEeq04t9TcbdByQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_LQgUEubYEeq04t9TcbdByQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_LQhiMObYEeq04t9TcbdByQ" name="isHorizontal"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_LQgUE-bYEeq04t9TcbdByQ" y="44" width="1150" height="744"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Hvd2QebYEeq04t9TcbdByQ"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_Hvay8ebYEeq04t9TcbdByQ" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Hvd2QubYEeq04t9TcbdByQ" x="192" y="12" width="1172" height="832"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_HviuwObYEeq04t9TcbdByQ" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_HvjV0ObYEeq04t9TcbdByQ" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_HvjV0ebYEeq04t9TcbdByQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_HvjV0ubYEeq04t9TcbdByQ"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_HvjV0-bYEeq04t9TcbdByQ" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_HvjV1ObYEeq04t9TcbdByQ"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_HvjV1ebYEeq04t9TcbdByQ" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:BooleanValueStyle" xmi:id="_HvUFQebYEeq04t9TcbdByQ" name="inlineDefinitionSection"/>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_HvUFQubYEeq04t9TcbdByQ"/>
    <edges xmi:id="_kciesObYEeq04t9TcbdByQ" type="Transition" element="_kch3oObYEeq04t9TcbdByQ" source="_s-SIcuioEeqhOvudpGcxgw" target="_s-RhZeioEeqhOvudpGcxgw">
      <children xsi:type="notation:DecorationNode" xmi:id="_kcietObYEeq04t9TcbdByQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_kcietebYEeq04t9TcbdByQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_kcietubYEeq04t9TcbdByQ" x="-1" y="2"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_kciesebYEeq04t9TcbdByQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_kcies-bYEeq04t9TcbdByQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_kciesubYEeq04t9TcbdByQ" points="[0, 10, -33, -121]$[0, 86, -33, -45]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_kcjs0ObYEeq04t9TcbdByQ" id="(0.4,0.2)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_kcjs0ebYEeq04t9TcbdByQ" id="(0.6388888888888888,0.7924528301886792)"/>
    </edges>
    <edges xmi:id="_OGWqYObZEeq04t9TcbdByQ" type="Transition" element="_OGWDUObZEeq04t9TcbdByQ" source="_HvedUObYEeq04t9TcbdByQ" target="_LQgUEObYEeq04t9TcbdByQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_OGXRcebZEeq04t9TcbdByQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_OGXRcubZEeq04t9TcbdByQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_OGXRc-bZEeq04t9TcbdByQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_OGWqYebZEeq04t9TcbdByQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_OGXRcObZEeq04t9TcbdByQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_OGWqYubZEeq04t9TcbdByQ" points="[1, 6, 1, -29]$[1, 25, 1, -10]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_OGYfkObZEeq04t9TcbdByQ" id="(0.07226497294559663,0.01482314455121652)"/>
    </edges>
    <edges xmi:id="_1vLOsObZEeq04t9TcbdByQ" type="Transition" element="_1vKnoObZEeq04t9TcbdByQ" source="_s-RhceioEeqhOvudpGcxgw" target="_s-RhfeioEeqhOvudpGcxgw">
      <children xsi:type="notation:DecorationNode" xmi:id="_1vLOtObZEeq04t9TcbdByQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_1vLOtebZEeq04t9TcbdByQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_1vLOtubZEeq04t9TcbdByQ" x="-7" y="-17"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_1vLOsebZEeq04t9TcbdByQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_1vLOs-bZEeq04t9TcbdByQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_1vLOsubZEeq04t9TcbdByQ" points="[17, -1, -162, -4]$[149, -1, -30, -4]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_1vMc0ObZEeq04t9TcbdByQ" id="(0.8912037037037038,0.17063166529942578)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_1vMc0ebZEeq04t9TcbdByQ" id="(0.16949152542372883,0.1509433962264151)"/>
    </edges>
    <edges xmi:id="_y7RVAOiMEeqJpbKOZUBqKA" type="Transition" element="_y7NDkOiMEeqJpbKOZUBqKA" source="_s-RhceioEeqhOvudpGcxgw" target="_s-RhieioEeqhOvudpGcxgw">
      <children xsi:type="notation:DecorationNode" xmi:id="_y7SjIOiMEeqJpbKOZUBqKA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_y7SjIeiMEeqJpbKOZUBqKA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_y7SjIuiMEeqJpbKOZUBqKA" x="56" y="22"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_y7RVAeiMEeqJpbKOZUBqKA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_y7R8EOiMEeqJpbKOZUBqKA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_y7RVAuiMEeqJpbKOZUBqKA" points="[31, -6, -254, -174]$[91, -6, -194, -174]$[91, 151, -194, -17]$[205, 151, -80, -17]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_y7U_YOiMEeqJpbKOZUBqKA" id="(0.8074534161490683,0.7972972972972973)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_WSln4OiNEeqJpbKOZUBqKA" id="(0.5,0.5)"/>
    </edges>
    <edges xmi:id="_XlnWAOiNEeqJpbKOZUBqKA" type="Transition" element="_Xlk5wOiNEeqJpbKOZUBqKA" source="_s-RhfeioEeqhOvudpGcxgw" target="_s-SIfOioEeqhOvudpGcxgw">
      <children xsi:type="notation:DecorationNode" xmi:id="_Xln9EOiNEeqJpbKOZUBqKA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Xln9EeiNEeqJpbKOZUBqKA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Xln9EuiNEeqJpbKOZUBqKA" x="-5" y="-138"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_XlnWAeiNEeqJpbKOZUBqKA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_XlnWA-iNEeqJpbKOZUBqKA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_XlnWAuiNEeqJpbKOZUBqKA" points="[4, 22, 3, -22]$[4, 42, 3, -2]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_XlqZUOiNEeqJpbKOZUBqKA" id="(0.5205479452054794,0.05454545454545454)"/>
    </edges>
    <edges xmi:id="_g-IkkOiNEeqJpbKOZUBqKA" type="Transition" element="_g-GvYOiNEeqJpbKOZUBqKA" source="_s-SIfOioEeqhOvudpGcxgw" target="_s-RhieioEeqhOvudpGcxgw">
      <children xsi:type="notation:DecorationNode" xmi:id="_g-JLoOiNEeqJpbKOZUBqKA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_g-JLoeiNEeqJpbKOZUBqKA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_g-JLouiNEeqJpbKOZUBqKA" x="-3" y="-66"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_g-IkkeiNEeqJpbKOZUBqKA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_g-Ikk-iNEeqJpbKOZUBqKA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_g-IkkuiNEeqJpbKOZUBqKA" points="[6, 10, 4, -64]$[6, 61, 4, -13]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_g-M2AOiNEeqJpbKOZUBqKA" id="(0.4657534246575342,0.8363636363636363)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_g-M2AeiNEeqJpbKOZUBqKA" id="(0.5,0.2075471698113208)"/>
    </edges>
    <edges xmi:id="_o0uGUOiNEeqJpbKOZUBqKA" type="Transition" element="_o0sRIOiNEeqJpbKOZUBqKA" source="_s-RhieioEeqhOvudpGcxgw" target="_s-SIiOioEeqhOvudpGcxgw">
      <children xsi:type="notation:DecorationNode" xmi:id="_o0utYeiNEeqJpbKOZUBqKA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_o0utYuiNEeqJpbKOZUBqKA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_o0vUcOiNEeqJpbKOZUBqKA" x="104" y="-32"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_o0uGUeiNEeqJpbKOZUBqKA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_o0utYOiNEeqJpbKOZUBqKA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_o0uGUuiNEeqJpbKOZUBqKA" points="[6, -1, -144, 48]$[153, -49, 3, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_o0xwsOiNEeqJpbKOZUBqKA" id="(0.9518072289156626,0.49056603773584906)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_o0yXwOiNEeqJpbKOZUBqKA" id="(0.5862068965517241,0.9811320754716982)"/>
    </edges>
    <edges xmi:id="_wf7egOiNEeqJpbKOZUBqKA" type="Transition" element="_wf6QYOiNEeqJpbKOZUBqKA" source="_s-SIiOioEeqhOvudpGcxgw" target="_s-RhfeioEeqhOvudpGcxgw">
      <children xsi:type="notation:DecorationNode" xmi:id="_wf8FkOiNEeqJpbKOZUBqKA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_wf8FkeiNEeqJpbKOZUBqKA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_wf8FkuiNEeqJpbKOZUBqKA" x="-85" y="-37"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_wf7egeiNEeqJpbKOZUBqKA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_wf7eg-iNEeqJpbKOZUBqKA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_wf7eguiNEeqJpbKOZUBqKA" points="[0, 0, 245, 57]$[-240, -79, 5, -22]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_wf96wOiNEeqJpbKOZUBqKA" id="(0.4915254237288136,0.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_wf96weiNEeqJpbKOZUBqKA" id="(0.8961748633879781,0.38095238095238093)"/>
    </edges>
    <edges xmi:id="_0F8RAOiPEeqJpbKOZUBqKA" type="Transition" element="_0F7p8OiPEeqJpbKOZUBqKA" source="_s-RhieioEeqhOvudpGcxgw" target="_s-SIlOioEeqhOvudpGcxgw">
      <children xsi:type="notation:DecorationNode" xmi:id="_0F84EeiPEeqJpbKOZUBqKA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_0F84EuiPEeqJpbKOZUBqKA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_0F84E-iPEeqJpbKOZUBqKA" x="17" y="14"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_0F8RAeiPEeqJpbKOZUBqKA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_0F84EOiPEeqJpbKOZUBqKA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_0F8RAuiPEeqJpbKOZUBqKA" points="[27, 7, 323, -62]$[27, 67, 323, -2]$[-275, 67, 21, -2]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_0F-GMOiPEeqJpbKOZUBqKA" id="(0.3493975903614458,0.8888888888888888)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_7A7tMOiPEeqJpbKOZUBqKA" id="(0.5,0.5)"/>
    </edges>
    <edges xmi:id="_42zX8OiPEeqJpbKOZUBqKA" type="Transition" element="_42yJ0OiPEeqJpbKOZUBqKA" source="_s-RhfeioEeqhOvudpGcxgw" target="_s-SIlOioEeqhOvudpGcxgw">
      <children xsi:type="notation:DecorationNode" xmi:id="_42zX9OiPEeqJpbKOZUBqKA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_42zX9eiPEeqJpbKOZUBqKA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_42zX9uiPEeqJpbKOZUBqKA" x="170" y="27"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_42zX8eiPEeqJpbKOZUBqKA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_42zX8-iPEeqJpbKOZUBqKA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_42zX8uiPEeqJpbKOZUBqKA" points="[6, -4, 400, -310]$[284, -4, 678, -310]$[284, 305, 678, -1]$[-377, 305, 17, -1]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_420mEOiPEeqJpbKOZUBqKA" id="(0.9649122807017544,0.12698412698412698)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_420mEeiPEeqJpbKOZUBqKA" id="(0.6086956521739131,0.7547169811320756)"/>
    </edges>
    <edges xmi:id="_P6sxYOiQEeqJpbKOZUBqKA" type="Transition" element="_P6sKUOiQEeqJpbKOZUBqKA" source="_s-SIlOioEeqhOvudpGcxgw" target="_s-RhZeioEeqhOvudpGcxgw">
      <children xsi:type="notation:DecorationNode" xmi:id="_P6tYceiQEeqJpbKOZUBqKA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_P6tYcuiQEeqJpbKOZUBqKA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_P6tYc-iQEeqJpbKOZUBqKA" x="6" y="99"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_P6sxYeiQEeqJpbKOZUBqKA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_P6tYcOiQEeqJpbKOZUBqKA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_P6sxYuiQEeqJpbKOZUBqKA" points="[-8, -3, 212, 265]$[-197, -3, 23, 265]$[-197, -239, 23, 29]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_P6vNoOiQEeqJpbKOZUBqKA" id="(0.21739130434782608,0.5283018867924528)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_dr2gMOioEeqhOvudpGcxgw" id="(0.5,0.5)"/>
    </edges>
    <edges xmi:id="_bdqKUOioEeqhOvudpGcxgw" type="Transition" element="_bdlR0OioEeqhOvudpGcxgw" source="_s-RhZeioEeqhOvudpGcxgw" target="_s-SIoOioEeqhOvudpGcxgw">
      <children xsi:type="notation:DecorationNode" xmi:id="_bdrYcOioEeqhOvudpGcxgw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_bdrYceioEeqhOvudpGcxgw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_bdrYcuioEeqhOvudpGcxgw" x="-4" y="-51"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_bdqKUeioEeqhOvudpGcxgw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_bdqxYOioEeqhOvudpGcxgw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_bdqKUuioEeqhOvudpGcxgw" points="[14, -5, -175, 75]$[190, -93, 1, -13]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_bdvp4OioEeqhOvudpGcxgw" id="(0.8855421686746988,0.6031746031746031)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_bdwQ8OioEeqhOvudpGcxgw" id="(0.10714285714285714,0.3584905660377358)"/>
    </edges>
    <edges xmi:id="_iaRXIOioEeqhOvudpGcxgw" type="Transition" element="_iaO64OioEeqhOvudpGcxgw" source="_s-SIoOioEeqhOvudpGcxgw" target="_s-RhceioEeqhOvudpGcxgw">
      <children xsi:type="notation:DecorationNode" xmi:id="_iaR-MeioEeqhOvudpGcxgw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_iaR-MuioEeqhOvudpGcxgw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_iaR-M-ioEeqhOvudpGcxgw" x="5" y="-44"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_iaRXIeioEeqhOvudpGcxgw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_iaR-MOioEeqhOvudpGcxgw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_iaRXIuioEeqhOvudpGcxgw" points="[6, -2, -33, 2]$[41, -27, 2, -23]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_iaUacOioEeqhOvudpGcxgw" id="(0.8928571428571429,0.4150943396226416)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_iaUaceioEeqhOvudpGcxgw" id="(0.13664596273291926,0.44594594594594594)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
